.content_page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 1080px;
    height: 848px;
    left: 32px;
    top: 136px;
}

.content_1 {
    width: 1080px;
    height: 672px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    flex: none;
    order: 0;
    flex-grow: 0;

}

.content_1_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 1016px;
    height: 584px;
    left: 32px;
    top: 56px;
}

.content_1 img {
    width: 1016px;
    height: 424px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(abstract-purple-digital-art-retrowave-wallpaper.jpg);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.comment_author {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 216px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.comment {
    position: relative;
    width: 1016px;
    height: 64px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.comment_shadow {
    position: absolute;
    width: 2px;
    height: 63px;
    left: 0px;
    top: 0px;
    background: #D3D8DE;
}

.comment_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 1006px;
    height: 64px;
    left: 10px;
    top: 0px;
}

.comment_text p {
    width: 1006px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: start;
    color: #505050;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.comment_text span {
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8F8F8F;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.comment_reaction {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 141px;
    height: 24px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.views {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 59px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.comm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 50px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.content_other {
    width: 1080px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
}

#heading {
    position: absolute;
    width: 156px;
    height: 19px;
    left: 32px;
    top: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: start;
    color: #505050;
}

.other_date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 183px;
    height: 24px;
    right: 32px;
    top: 16px;
}

.other_date div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 143px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.info_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 50px;
    gap: 16px;
    position: absolute;
    width: 264px;
    height: 296px;
    left: 1144px;
    top: 136px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.img_user {
    width: 132px;
    height: 132px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;
    background: url(../../../assets/img/eh8U7PHA4jU.jpg);
    background-size: cover;
}

.img {
    position: absolute;
    left: -11.36%;
    right: -11.36%;
    top: 0%;
    bottom: -50.76%;
    max-width: 100%;
    max-height: 100%;
    background: url(../../../assets/img/eh8U7PHA4jU.jpg);
}

.about_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 45px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#name {
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #505050;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#proffesion {
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8F8F8F;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.social_user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 8px;
    width: 76px;
    height: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.navigation_user_block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 264px;
    height: 312px;
    left: 1144px;
    top: 464px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.navigation_user_block_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 16px;
    gap: 16px;
    width: 264px;
    height: 310px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px 0px;
    gap: 8px;
    width: 264px;
    height: 38px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav_header_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 264px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav_header_wrapper div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 8px;
    width: 264px;
    height: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.nav_header_wrapper span {
    text-align: start;
    width: 204px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #505050;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.main_buts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 264px;
    height: 144px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.main_buts_elem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 108px 0px 16px;
    gap: 16px;
    width: 248px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
}

#nav_txt {
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #505050;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.balance {
    padding: 0 0 0 16px;
}

#balance {
    position: absolute;
    right: 0;
    width: 100px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #8F8F8F;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.connect {
    padding: 0 0 0 16px;
    position: relative;
    display: flex;
    align-items: center;
}

.amountCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px;
    gap: 8px;
    position: absolute;
    width: 24px;
    height: 16px;
    right: 0px;
    background: #E33939;
    border-radius: 8px;
}

.amountCon span {
    width: 14px;
    height: 16px;
    font-family: 'VTB Group UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.line {
    width: 264px;
    height: 0px;
    border: 1px solid #D3D8DE;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.other_buts {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 264px;
    height: 64px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.other_buts_elem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 16px;
    width: 248px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.green {
    background: #47B091;
}

.share {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 264px;
    height: 190px;
    left: 1144px;
    top: 808px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.share_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0px 0px;
    gap: 8px;
    width: 264px;
    height: 174px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.heading_share {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 264px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.heading_share_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 264px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.heading_share_wrapper div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 8px;
    width: 264px;
    height: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.heading_share_wrapper span {
    width: 204px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: start;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #505050;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.share_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
    width: 264px;
    height: 88px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.share_text textarea {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    width: 232px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #D3D8DE;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.but_share {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 10px;
    width: 264px;
    height: 32px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.but_share button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;
    width: 232px;
    height: 32px;
    background: #5095EC;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    border: none;
}